<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}



{% block body_block %}


{% if user.is_authenticated %}

<div class="text-center justify-content-center align-items-center mt-5">
    <h1>You are already logged in.</h1>
    <h2>Log out First</h2>
</div>

{% else %}


    

<section class="h-100 gradient-form" style="background-color: #eee;">

    {% if message %}
        <div class="text-center row text-danger">
            <h2 class="message col-sm-12 mt-5 fw-bold"> {{ message }} </h2>
        </div>
    {% endif %}

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6 d-flex bg-light">
                <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                    <img src="{% static 'images/mainLogo.png' %}"
                        style="width: 100px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Welcome to Vidtream</h4>
                    </div>
    
                    <form method="POST">
                    <p>Please login to your account</p>
    
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="username">Username</label> -->
                        <input type="text" class="form-control" placeholder="Enter username" id="username" name="username" value="{{ username }}" />
                    </div>
    
                    <div class="form-outline mb-4">
                        <!-- <label class="form-label" for="password">Password</label> -->
                        <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" value="{{ password }}" />
                    </div>

                    {% csrf_token %}

                    <div class="text-center pt-1 pb-1">
                        <button class="btn btn-success btn-block gradient-custom-2" type="submit" value="Login"> Login </button>
                        </div>                          
                    </form>

                    <div class="d-flex align-items-center justify-content-center pt-4">
                        <p class="mb-0 mr-2">Don't have an account?</p>
                        <a href="{% url 'userAuth:registrationFunction' %}" class="btn btn-outline-success">Register</a>
                    </div>
    
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center bg-dark">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">We are more than just a streaming site</h4>
                    <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
 

{% endif %}


{% endblock %}