
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Passions+Conflict&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'style/mainStyles.css' %}">

    <link rel="icon" href="{% static 'images/icons/mainIcon.ico' %}">


    {% block head_block %}
    
    {% endblock %}

    <title>Vidtream</title>
</head>
<body>



  <div class="loginRegistration">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        <a href="{% url 'feed:feedMain' %}" class="navbar-brand">
          <img src="{% static 'images/mainLogo.png' %}"style="width: 50px;" alt="logo"> Vidtream
        </a>
        
        {% if user.is_authenticated %}
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'feed:videosOnSearch' %}" class="nav-link">categories</a>
          </li>
  
          {% block navleft_block %}
          
          {% endblock %}
          
        </ul>

        <div class="mr-auto ml-auto">
          <form class="form-inline my-2 my-lg-0" action="{% url 'feed:videosOnSearch' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Video" aria-label="Search" name="find">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        

        <ul class="navbar-nav ml-auto">

          {% block navright_block %}

          {% endblock %}

        </ul>
        


        <a href="{% url 'feed:uploadVideo' %}" class=" my-2 my-lg-0 text-white btn btn-success mr-3">
          Add New Video
        </a>

        <form class="form-inline my-2 my-lg-0">
          <a href="{% url 'userAuth:logoutFunction' %}" class="btn btn-success my-2 my-sm-0" >Log out</a>
        </form>
        
        {% else %}

        {% block nav_block_nonuser %}

        {% endblock %}

        {% endif %}
          
      </div>
    </nav>

  </div>
    

  <div class="mainBox">

    {% block body_block %}

    {% endblock %}

  </div>


<footer>

  <div class="container-fluid" style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">

        <div class="navbar navbar-right">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="">Terms &amp; Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Privacy Policy</a>
            </li>
            
          </ul>
        </div>


        <div class="navbar navbar-right">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'images/icons/web.png' %}" alt="Website" width="20px">
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'images/icons/fb.png' %}" alt="Facebook" width="20px">
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'images/icons/linkedin.png' %}" alt="LinkedIn" width="20px">
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'images/icons/mail.png' %}" alt="Mail" width="20px">
              </a>
            </li>
            
          </ul>
        </div>

      </div>
    </nav>
  </div>

</footer>


</body>
</html>